/* ==========================================================================
   App Stylesheet
   app.less
   ========================================================================== */


/* Vendor Styles and Setting (bootstrao > variables)
   ======================================================================== */
@import "bootstrap.less";


/* Mixins (User defined mixins)
   ======================================================================== */


/* Components
   ======================================================================== */
@import "components/base.less";

td {
    border: 1px solid white;
    background-color: white;
    height: 14px;
    width: 14px;
}
.off {
    background-color: white;
}
.on {
    background-color: #1eA0ff;
}
.on-darker {
    background-color: #1e90ff;
}
.on-darkest {
    background-color: #1e70ff;
}